* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_page{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}

.container{
    display:flex;
    flex-wrap: nowrap;
    margin-top: 200px;
}
.box{
    position: relative;
}

.box video{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
}

.full_set{
    display:flex;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
 
}

.sentence1{
    text-align:left;
    margin-top: 20px;
    margin-left: 50px;
    font-family: serif;
    font-size: 20px;
}

.sentence2{
    text-align:left;
    margin-top: 300px;
    margin-left: 50px;
    font-family: serif;
    font-size: 20px;

}

.alphabet_set_1{
    position:relative;
}

.alphabet_set_3{
    position:absolute;
}

.alphabet_set_3:hover{
    opacity: 0;
}
