.welcome1 {
    color: #ffffff;
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;

}

.welcome1:hover {
    color: rgb(156, 99, 0);
    transition: color 5s;

}

#coffee {
    text-align: center;
    margin-top: 40px;

}

#coffee:hover {
    transform: rotate(200deg);
    transition: all 0.1s linear;

}

.projectslink {
    font-family: sans-serif;
    color: white;
    text-align: center

}

.links123 {
    color: white;
    text-align: center

}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

div.sticky {
    text-align: center;
    margin-top: 30px;
    position: -webkit-sticky;
    position: sticky;
     top: 0;
     padding: 10px;
     color: white;
     background-color: #2e00ab;
     border: 5px solid #ffffff;

}

div.pretag {
    margin-top: 1000px;

}

div.relative {
    position: relative;
    margin-top: 1500px;
    text-align: center;
    left: 5px;
    border: 3px solid #ffffff;
    color: rgb(18, 0, 119);

  }

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px

}

